@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
  }
  
  @page {
    margin: 1cm;
    size: A4 portrait;
  }

  .print-hide, nav, aside {
    display: none !important;
  }
}
